<div id="container">
    <div class="row">
        <div id="adbox">
            <div id="top" class="starter_container bg">
                <div class="follow_container">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="top-title">"&#9733;&#9733;&#9733;&#9733;"</h2>
                        <h2 class="white second-title">" Best in the city "<br>Pete Wells<br>The New York Times</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero">
        <div class="a col-md-4">
            <p>Sushi Yasaka opened in 2011 and is located the Upper West Side of Manhattan. Since then, Sushi Yasaka strives
                for the recognition as a customer-oriented restaurant through the enthusiastic service, serenading environment
                and delicious food. <span>(212) 496-8460</span>
            </p>
            <h2 class="fresh">Fresh Ingredients * Crafted with Love</h2>
            <div class="video">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/YUqS2B2aApY?autoplay=1">
                </iframe>
            </div>
        </div>
        <div class="section">
            <div class="b col-md-6">
                <table>
                    <tr>
                        <th>Location</th>
                        <th class="hours">Hours</th>
                    </tr>
                    <tr>
                        <td>251 W 72nd St.</td>
                        <td class="hours">Mon-Sat</td>
                    </tr>
                    <tr>
                        <td>New York, NY 10023</td>
                        <td class="hours">L 12p-2:30p D 5:15-10:30p</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="hours">Sun</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="hours">L 12p-2:30p D 5:15-9:30p</td>
                    </tr>
                </table>
                <div class="map col-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.1980383508153!2d-73.98559668459296!3d40.77966017932469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25861f92c2143%3A0x6df52b9e7310c3c5!2sSushi+Yasaka!5e0!3m2!1sen!2sus!4v1503610303190"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>